**/bin/*
**/gen/*
**/build/*
**/out/
**/.idea/*
**/*.iml
.gradle
/local.properties
.DS_Store
.metadata/*
**.hprof

**.log
*~

*.orig
*.exec

!/.idea/copyright/
!/.idea/codeStyleSettings.xml
!/.idea/scopes/
